@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 161px;
}

.button-login {
    width: 100px;
    height: 40px;
    border: 1px #fff solid;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    line-height: 17px;
    text-align: center;
    vertical-align: middle;
    margin-left: 209px;
    cursor: pointer;
}

.vertical_center:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
}

.first-menu__item {
    position: relative;
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
}

.first-menu__link {
    color: #fff;
    display: block;
    text-decoration: none;
}

ul li a:hover {
    font-weight: 700;
}

.first-menu__logo-link {
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}


.first {
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('images/Rectangle 3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.first-menu {
    padding-top: 58px;
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.first-header {
    margin-top: 140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.fifth-header {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    text-align: left;
}

.fifth__column-first {
    width: 445px;
    margin-left: 165px;
    margin-top: 122px;
    margin-bottom: 40px;
}

.first-text {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}

a {
    text-decoration: none;
    color: inherit;

}

.button-sign {
    margin-bottom: 187px;
    margin-top: 57px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #FFFFFF;
    font-weight: 600;
    line-height: 17px;
    align-items: center;
    text-transform: uppercase;
    color: #ED4C5C;
}

.button {
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    position: relative;
    text-align: center;
    cursor: pointer;
    cursor: pointer;
}

.first-menu__icon {
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 6px;
}

.second {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.second__link {
    line-height: 140%;
    text-align: justify;
    color: #ED4C5C;
    float: left;
    margin-top: 20px;
}

.second__text, .sixth__text {
    text-align: justify;
    color: #000000;
    line-height: 140%;
}


.second__image {
    border-radius: 15px;
    height: 311px;
    width: 445px;
}

.second__column-first {
    width: 445px;
    text-align: center;
    margin-left: 165px;
    margin-top: 140px;
    margin-bottom: 110px;
}

.second__column-second {
    margin-top: 94px;
    width: 445px;
    height: 311px;
    margin-left: 125px;
    margin-bottom: 95px;
}

.third {
    clear: both;
    background: #FAFAFA;
}

.third-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.third-item__card-header {
    margin-top: 33px;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
}

.third-item__card {
    background-color: #FFFFFF;
    margin-top: -100px;
    z-index: 99;
    position: relative;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-bottom: 124px;
}

.third-header {
    text-align: center;
    padding-top: 63px;
    padding-bottom: 63px;
}

.third-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    margin-right: 15px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    padding-bottom: 20px;
}

.third-item__card-text {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    margin-right: 20px;
    margin-left: 20px;
}

.third-item__read-more {
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
}

.fourth-header {
    margin-bottom: 52px;
    text-align: center;
    padding-top: 63px;

}

.fourth-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 104px;
}

.fourth-item {
    width: 255px;
    padding: 30px;
}

.fourth-item__number {
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    /* identical to box height */
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
}

.fourth-item__image {
    margin-top: -70px;
}

.fifth {
    background-color: #ED4C5C;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.fifth__column_image {
    background: url(/images/Video_bg2.png);
    border-radius: 15px;
    height: 311px;
}

.fifth__text {
    margin-top: 45px;
    margin-bottom: 40px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    text-wrap: normal;
}

.fifth__images {
    margin-left: 163PX;
    margin-bottom: 111px;
    width: 134px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.fifth__column-second {
    margin-left: 125px;
    margin-bottom: 95px;
}

.fifth__image {
    border-radius: 15px;
    height: 311px;
    width: 445px;
}

/*шестой блок*/
.sixth {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 117px;
}

.sixth-header {
    margin-bottom: 59px;
}

.sixth__column-first {
    width: 445px;
    margin-right: 114px;
}

.sixth__column-second {
    width: 540px;
    margin-bottom: 123px;
}

.sixth__input {
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    height: 60px;
    padding: 25px;
    width: 100%;
    margin-bottom: 30px;
}

.sixth__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sixth__input-first {
    width: 255px;
}

.sixth__input-second {
    margin-left: 30px;
    width: 255px;
}

.sixth-button {
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    width: 160px;
    height: 50px;
    position: relative;
    text-align: center;
    cursor: pointer;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    color: #FFFFFF;
}

/*конец шестого блока*/

::-webkit-input-placeholder {
    color: #13274380;
}

.seventh, .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seventh-item-1, .copyright-item-1 {
    margin-left: 161px;
    width: 259px;
    margin-top: 108px;
    text-align: left;
    margin-bottom: 85px;
}

.seventh-item-2, .copyright-item-2 {
    margin-left: 30px;
    width: 254px;
    margin-top: 108px;
    text-align: left;
}

.seventh-item-3, .copyright-item-3 {
    margin-left: 30px;
    width: 122px;
    margin-top: 108px;
    text-align: left;
}

.seventh-item-4, .copyright-item-4 {
    margin-left: 166px;
    width: 216px;
    margin-top: 108px;
    text-align: left;
}

.seventh-text {
    margin-top: 33px;
    font-size: 12px;
    line-height: 150%;
}

.seventh-item-3__icons {
    display: flex;
    width: 66px;
    justify-content: space-between;
}

.seventh__logo {
    margin-top: 33px;
}

ul {
    list-style-type: none;
}

.copyright-item-1 {
    margin-top: 108px;
}

.copyright-item-2, .copyright-item-3, .copyright__item-4 {
    margin-top: 0px;
}

/* Responsive starts here */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .first-header {
        margin-top: 40px;
    }

    h1 {
        margin-bottom: 30px;
        margin-top: 60px;
    }

    .button-login {
        margin-left: 80px;
    }

    .first-menu__logo {
        padding-left: 165px;
    }
}

@media screen and (max-width: 1399px) {
    .container {
        width: 100%;
    }

    .seventh-item-1, .copyright-item-1 {
        margin-left: 30px;
    }

    .first-header {
        margin-top: 10px;
    }

}

@media screen and (max-width: 1199px) {
    .container {
        width: 100%;
    }

    .first-menu__logo {
        padding-left: 50px;
    }

    nav {
        margin-left: 60px;
    }

    .button-login {
        margin-left: 50px;
    }

    .second__column-first, .fifth__column-first {
        margin-top: 30px;
        width: 45%;
        margin-left: 30px;
        padding: 20px;
        margin-bottom: 40px;
    }

    .second__column-second, .fifth__column-second {
        width: 45%;
        margin-left: 30px;
        margin-top: 30px;
        padding: 20px;
        margin-bottom: 40px;
    }

    .third__card {
        margin-bottom: 30px;
    }

    .fourth__column_container:last-child {
        margin-right: 20px;
    }

    .fourth__column_container {
        margin-bottom: 10px;
    }

    .sixth {
        margin-top: 50px;
    }

    .sixth__column-first {
        width: 40%;
        padding: 30px;
        margin-right: 40px;
    }

    .sixth__column-second {
        width: 40%;
        padding: 30px;
    }

    .sixth__input-first {
        margin-bottom: 30px;
        width: 100%;
    }

    .sixth__input-second {
        margin-left: 0;
        width: 100%;
    }

    .sixth__column-second {
        margin-bottom: 0px;
    }

    .input {
        width: 255px;
    }

    .second__image, .fifth__image {
        width: 100%;
        height: auto;
    }

    .seventh-item-4 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }

    .second__image, .fifth__image {
        height: auto;
    }

    h1 {
        margin-top: 20px;
    }

    .button-sign {
        margin-top: 20px;
    }

    .fifth__column_images {
        margin-bottom: 60px;
    }

    .first-menu {
        flex-direction: column;
        justify-content: center;
    }

    nav ul li {
        float: none;
    }

    .button-login {
        margin-top: 30px;
    }
    .first-menu__logo, .button-login, nav, .first-menu__logo {
        margin-left: auto;
        margin-right: auto;
    }
    .first-menu__logo {
        padding-left: unset;
    }
    nav {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {

    .first-menu__logo {
        padding-left: 10px;
    }

    .second__column-first, .fifth__column-first, .second__column-second, .fifth__column-second {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .fifth__images {
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .sixth__head {
        margin-bottom: 30px;
    }

    .second__text, .sixth__text {
        margin-bottom: 30px;
    }

    .sixth__column-second {
        margin-left: 70px;
    }

    .seventh-item-4 {
        margin-top: 30px;
        margin-left: 30px;
    }

    .seventh-item-3 {
        width: 259px;
    }

    .seventh-item-4 {
        width: 259px;
    }

    .sixth__column-first, .sixth__column-second {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .third__item {
        margin-right: 0;
    }
}

@media screen and (max-width: 575px) {
    .sixth__column_first {
        width: 100%;
    }

    .sixth__column_second {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .first-menu {
        padding-top: 20px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .first__text {
        font-size: 16px;
        line-height: 120%;
    }

    .button-login {
        margin-top: 10px;
    }

    nav ul li {
        line-height: 180%;
    }

    .seventh-item-1, .seventh-item-2, .seventh-item-3, .seventh-item-4 {
        margin-top: 30px;
    }

    .first-text {
        font-size: 16px;
        line-height: normal;
    }

    .second__text {
        margin-top: 30px;
    }
    .third-items__image {
        max-width: 320px;
    }
    .third-item {
        margin-right: unset;
    }
}